<form action="" id="editCorkForm" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% load bootstrap %}
  {{ form|bootstrap }}

<label class="control-label" for="references">References</label>
{% if not references %}
  <div>
    <div class="form-group">
      <textarea type="text" rows="1" cols="40" class="form-control" id="id_references" name="description" placeholder="Reference" ></textarea>
    </div>
    <div class="form-group">
      <input type="url" class="form-control"  id="id_reference_link" name="link" maxlength="200" placeholder="Link to Reference"/>
    </div>
  </div>
{% else %}
  {% for reference in references %}
  
    <div class="form-group">
      <input type="hidden" class="form-control" id="id_reference_pk" name="reference_pk" value="{{reference.pk}}"/>
    </div>
    
    <div>
    <div class="form-group">

      <textarea type="text" rows="1" cols="40" class="form-control" id="id_references" name="description" placeholder="Reference" >{{reference.description}}</textarea>
    </div>
    <div class="form-group">
      <input type="url" class="form-control"  id="id_reference_link" name="link" maxlength="200" placeholder="Link to Reference" value="{{reference.url}}" />
    </div>
  </div>
  {% endfor %}

{% endif %}
  <button type="button" class="btn btn-default" id="add_reference">Add Reference</button>
